<% content_for :title do %>
  <h1><%= @channel.name %></h1>
<% end %>

<ul data-role="listview" data-filter="true">
  <% @videos.each do | video | %>
    <li>
      <%= image_tag video.thumbnail %>
      <h3> <%= link_to video.title, video %> </h3>
      <p><%= video.description %></p>
    </li>
  <% end %>
  <li> 
    <%= link_to "Next Page", url_for(params.slice(:id,:action,:controller,:language).merge(:page => @videos.next_page)) %>
  </li>
</ul>
