<tr>
  <td><%= render_iframe_box(video,:width=> 250,:height => 200) %></td>
  <td><%= video.name %> </td>
  <td><%= video.description %> </td>
  <td><%= video.approved %> </td>
  <td><%= video.language %> </td>
  <td><%= video.kind %> </td>
  <td><%= video.quality %> </td>
  <td>
    <%= link_to video.show_name, video.show ? edit_show_path(video.show) : "#" %> 
  </td>
  <td><%= link_to "Edit", edit_video_path(video), :method => :get %> </td>
  <td><%= link_to 'Delete', video, :method => :delete, :remote => true, :class => "delete_video" %></td>
</tr>
