<p id="notice"><%= notice %></p>

<table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">
  <tr>
    <td width="20%" valign="top">
      <%= image_tag @show.default_thumbnail %> 
    </td>
    <td width="80%" valign="top">
      <div id="accordion">
        <% if @show.movies.first %>
          <h3><a href="#">Movies</a></h3>
          <div>
            <%= render_iframe_box(@show.movies.first, :width=> 250,:height => 200) %> 
          </div>
        <% end %>
        <% if @show.videos.first %>
          <h3><a href="#">Video Songs</a></h3>
          <div>
            <% @show.videos.each do | video | %>
              <%= image_tag video.default_thumbnail %> 
            <% end %>
            <%= button_to 'play all', "#", :class => "play-button" %>
          </div>
        <% end %>
        <% if @show.audios.first %>
          <h3><a href="#">Audio Songs</a></h3>
          <div>
            <% @show.audios.each do | video | %>
              <%= image_tag video.default_thumbnail %> 
            <% end %>
            <%= button_to 'play all', "#", :class => "play-button" %>
          </div>
        <% end %>
        <% if @show.trailers.first %>
          <h3><a href="#">Trailers</a></h3>
          <div>
            <% @show.trailers.each do | video | %>
              <%= image_tag video.default_thumbnail %> 
            <% end %>
            <%= button_to 'play all', "#", :class => "play-button" %>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_show_path(@show) %>
