<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Admin</title>
    <%= include_stylesheets :admin %>
    <%= include_javascripts :admin %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      <div id="wrapper" class="wat-cf">
        <div id="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
