<!DOCTYPE html>
<html>
  <head>
    <title><%=AppConfig.layout_page_title_desc%></title>
    <meta charset="utf-8">
    <meta name="description" content="<%=AppConfig.meta_desc_content%>" />
    <meta name="keywords" content="<%=AppConfig.meta_keywords%>" />
    <meta name="author" content="<%=AppConfig.page_author%>">
    <meta name="Copyright" content="(c) 2011. All Rights Reserved.">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <%= include_stylesheets :application %>
    <%= include_javascripts :application %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="outerWrapper">
      <div id="wrapper">
        <div id="header" class="clearfix">
          <input spellcheck="false" value="" id="searchBox" class="statusPlaying">
          <div id ="search-filters"> </div>
        </div>

        <div id="main" class="clearfix">
          <%= yield %>
        </div>

        <div id="footer" class="clearfix">
          <div id="user_nav">
            <% if current_user %>
              Welcome <%= current_user.name %>!
              <%= link_to "Sign Out", signout_path %>
            <% else %>
              <%= link_to image_tag("fb_login_icon.gif"), "/auth/facebook" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
