<!DOCTYPE html>
<html>
  <head>
    <title><%=AppConfig.layout_page_title_desc%></title>
    <meta charset="utf-8">
    <meta name="description" content="<%=AppConfig.meta_desc_content%>" />
    <meta name="keywords" content="<%=AppConfig.meta_keywords%>" />
    <meta name="author" content="<%=AppConfig.page_author%>">
    <meta name="Copyright" content="(c) 2011. All Rights Reserved.">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <%= stylesheet_link_tag 'main.css','base/jquery.ui.all',"Aristo/jquery-ui-1.8.7.custom.css" %>
    <%= include_stylesheets :application %>
    <%= include_javascripts :application %>
    <%= csrf_meta_tag %>
    </head>
    <body>
      <style>
.ui-autocomplete {
    background: none repeat scroll 0 0 white;
    border: 1px solid #949494;
    color: #888888;
    font-size: 11px;
    overflow: hidden;
    text-align: left;
    z-index: 97;
}
.ui-autocomplete ul {
    background: none repeat scroll 0 0 white;
    margin: 0;
}
.ui-autocomplete li {
    background-color: #FFFFFF;
    cursor: pointer;
    line-height: 11px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
}
.ui-autocomplete li.indent_item {
    padding-left: 15px;
}
.ui-autocomplete li.selected {
    background-color: #BBBBBB;
    color: #FFFFFF;
}
.ui-autocomplete li.selected span.episode_count {
    color: #FFFFFF;
}
.ui-autocomplete li span.suggest-matched-text {
    color: #222222;
}

      </style>

      <div id="outerWrapper">
        <div id="wrapper">
          <div id="header" class="clearfix">
            <input spellcheck="false" value="" id="searchBox" class="statusPlaying">
            <div id ="search-filters"> </div>

          </div>

          <div id="main" class="clearfix">
            <%= yield %>
          </div>

          <div id="footer" class="clearfix">
<div id="user_nav">
        <% if current_user %>
          Welcome <%= current_user.name %>!
          <%= link_to "Sign Out", signout_path %>
        <% else %>
          <%= link_to "Sign in with Twitter", "/auth/facebook" %>
        <% end %>
      </div>
          </div>
        </div>
      </div>
    </body>
  </html>
